* {
    margin: 0;
    padding: 0;
  }

  header{
    height: 60px;
    background-color: #000;
  }
  
  .first-block {
    height: 500px;
    background-color: #ddd;
  }
  
  .second-block {
    height: 500px;
    background-color: #f0f0f0;
  }
  
  .third-block {
    height: 500px;
    background-color: #f05f40;
  }
  
  footer{
    height: 50px;
    background-color: #000;
  }
    
p {
    color: blue;  /*文字色を青に設定*/
   }
   
   .box {
    background-color: pink;  /*背景色をピンク色に設定*/
    height: 100px;  /*箱の高さを100pxに設定*/
   }