<!doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>Index</title>
     <link rel="stylesheet" href="../static/stylesheets/index.css">
</head>

<body>
    <header class="header-nav">
      <nav><a href="#first-block">Home</a></nav>
      <nav><a href="#second-block">About me</a></nav>
      <nav><a href="#third-block">Recent Activity</a></nav>
    </header>
    
  <!--  コンテンツを一旦仮置きする  -->
    <div class="first-block">
    </div>
    <div class="second-block">
    </div>
    <div class="third-block">
    </div>
  <!--  コンテンツはここまで  -->
  
    <footer>	
    </footer>
    <p>this is top page!</p>
    <a href="/new">newページへ遷移する</a>
    <a href="/show">showページへ遷移する</a>
</body>

</html>